/*总体样式 */

html,
body {
  width: 100vw;
  height: 100vh;

  background-color: rgb(var(--mdui-color-surface-container-low));
  font-family: 'HarmonyOS Sans SC', sans-serif;
}

:root {
  ::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--mdui-color-primary), 0.15);
    border-radius: 1rem;
    /* 滑块圆角 */
  }
}

div#settingPage {

  mdui-select,
  mdui-text-field {
    line-height: 1.375rem;
    font-family: 'Product Sans';
    max-width: 16em;
  }
}

mdui-tabs::part(container) {
  background-color: unset;
}

/* 主窗口控件 */

div#topWindowBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  margin-left: 5rem;
  z-index: 999;

  /* background-color: rgb(var(--mdui-color-surface-container)); */
  font-family: 'Harmony Sans SC';

  display: flex;
  align-items: center;
  justify-content: left;

  -webkit-app-region: drag;
  user-select: none;

  span {
    opacity: 0.5;

    font-family: 'Product Sans';
  }
}

mdui-navigation-rail {
  background-color: rgb(var(--mdui-color-surface-container));

  font-family: 'Harmony Sans SC M';
}

div.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem 5rem 8rem;

  overflow: auto;
  min-height: 600px;

  font-family: 'Harmony Sans SC';
}

h1 {
  user-select: none;
  font-weight: normal;
}

mdui-snackbar {
  margin-bottom: 5rem;
  border-radius: var(--mdui-shape-corner-medium);

  div {
    display: flex;
    align-items: center;
  }
}


/* 主页 */

div#out {
  font-family: 'Product Sans';
  margin-left: 2rem;
  color: rgb(var(--mdui-color-secondary-dark));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw
}

div.bottomBar {
  display: flex;
  width: 10vw;
  height: 5vh;
  position: fixed;
  right: 2.5rem;
  bottom: 3rem;
  justify-content: flex-end;
  align-items: center;
}

div.num-progress {
  width: 16vw;
  position: absolute;
  bottom: 2.4rem;
  left: calc(72px + 2.5rem);
  padding: 0.8rem 1.5rem;

  font-size: small;
  font-family: 'Harmony Sans SC';
  
  background-color: rgb(var(--mdui-color-surface-container));
  border-radius: 1.2rem;
  
  mdui-linear-progress {
    margin-left: 0;
    border-radius: 3rem;
  }

  span#num-progress-text {
    position: absolute;
    right: 1.5rem;
    text-align: right;
    font-family: 'Product Sans';
  }
}


/* 记录页 */

mdui-chip {
  box-shadow: none;
  font-family: 'Product Sans';
  background-color: unset;
}

div#exclude-list,
div#history-list {
  font-size: small;
}

/* 设置页 */

mdui-card.container {
  margin: 0.1rem;
  margin-left: 0;
  padding: 1rem;

  width: 98%;
  border-radius: 2rem;
  background-color: rgb(var(--mdui-color-secondary-container), 0.3);
}


.tips-content {
  padding: 0.2rem;
}

mdui-list-subheader {
  font-size: medium;
  color: rgb(var(--mdui-color-primary));
  font-family: 'Harmony Sans SC M';
}
