/*总体样式 */

html,
body,
mdui-layout {
  width: 100vw;
  height: 100vh;

  background-color: rgb(var(--mdui-color-surface-container));
  font-family: 'HarmonyOS Sans SC', sans-serif;

  user-select: none;
}

:root {
  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--mdui-color-primary), 0.15);
    border-radius: 1rem;
    /* 滑块圆角 */
  }
}

div#settingPage {

  mdui-select,
  mdui-text-field {
    line-height: 1.375rem;
    font-family: 'Product Sans';
    max-width: 16em;
  }
}

mdui-tabs::part(container) {
  margin-bottom: 0.5rem;
  background-color: unset;
}

span[slot="description"] {
  opacity: 0.6;
  font-size: small;
}


/* 主窗口控件 */
mdui-top-app-bar {
  height: 3rem;
  align-items: center;
  /* background-color: rgb(var(--mdui-color-primary-container)); */
  background-color: rgb(var(--mdui-color-surface-container));
  color: rgb(var(--mdui-color-primary));


  mdui-top-app-bar-title {
    opacity: 0.8;
    margin-left: -0.2rem;
    font-size: small;
    -webkit-app-region: drag;
    user-select: none;

    font-family: 'Product Sans';
  }

  mdui-button-icon {
    transform: scale(0.8);
    color: rgb(var(--mdui-color-primary));
  }
}

div#topWindowBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  margin-left: 5rem;

  font-family: 'Harmony Sans SC';

  display: flex;
  align-items: center;
  justify-content: left;


}

mdui-navigation-rail {
  background-color: rgb(var(--mdui-color-surface-container));

  font-family: 'Harmony Sans SC M';
  z-index: 990;

  margin: 1rem 0;

  div[slot="bottom"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

div.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  margin: 4rem 1rem 1rem 5rem;
  background-color: rgb(var(--mdui-color-surface));

  overflow: auto;
  min-height: 600px;

  font-family: 'Harmony Sans SC';

  div.page-container {
    margin: 1rem 4rem;
  }
}

h1 {
  user-select: none;
  font-weight: normal;

  font-family: 'Harmony Sans SC M';
}

mdui-snackbar {
  margin-left: 6rem;
  margin-bottom: 1.6rem;
  border-radius: var(--mdui-shape-corner-medium);

  div {
    display: flex;
    align-items: center;
  }
}


/* 主页 */

div#out {
  font-family: 'Product Sans';
  margin-left: 2rem;
  color: rgb(var(--mdui-color-secondary-dark));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  mdui-button {
    font-family: 'Harmony Sans SC M';
    transform: scale(0.8);
  }
}

div.dragBar {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.2rem;
  z-index: 900;

  position: fixed;
  right: 2rem;
  bottom: 2rem;

  border-radius: 1.5rem;
  color: rgb(var(--mdui-color-outline),0.7);
  background-color: rgb(var(--mdui-color-surface-container));

  .dragArea {
    margin: 0;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(var(--mdui-color-surface-dim));
    border-radius: 1.5rem 1.5rem 0 0;

    cursor: move;

    mdui-divider {
      width: 100%;
      height: 2px;
      background-color: rgb(var(--mdui-color-surface));
    }
  }

  .controlArea {
    display: flex;
    align-items: center;
    justify-content: center;

    mdui-fab {
      background-color: rgb(var(--mdui-color-primary));
      color: rgb(var(--mdui-color-surface-container));
    }
  }
}


/* 记录页 */

mdui-chip {
  box-shadow: none;
  font-family: 'Product Sans';
  background-color: unset;
}

div#exclude-list,
div#history-list {
  font-size: small;
}

/* 设置页 */

mdui-card.container {
  margin: 0rem;
  margin-left: 0;
  padding: 1rem;

  width: 100%;
  border-radius: 2rem;
  background-color: rgb(var(--mdui-color-secondary-container), 0.3);
}


.tips-content {
  padding: 0.2rem;
}

mdui-list-subheader {
  font-size: medium;
  color: rgb(var(--mdui-color-primary));
  font-family: 'Harmony Sans SC M';
}