.defaultTheme {
    --mdui-color-primary-light: 0, 98, 158;
    --mdui-color-on-primary-light: 255, 255, 255;
    --mdui-color-primary-container-light: 207, 229, 255;
    --mdui-color-on-primary-container-light: 0, 29, 52;
    --mdui-color-secondary-light: 82, 96, 112;
    --mdui-color-on-secondary-light: 255, 255, 255;
    --mdui-color-secondary-container-light: 214, 228, 247;
    --mdui-color-on-secondary-container-light: 15, 29, 42;
    --mdui-color-tertiary-light: 105, 87, 121;
    --mdui-color-on-tertiary-light: 255, 255, 255;
    --mdui-color-tertiary-container-light: 240, 219, 255;
    --mdui-color-on-tertiary-container-light: 36, 21, 50;
    --mdui-color-error-light: 186, 26, 26;
    --mdui-color-on-error-light: 255, 255, 255;
    --mdui-color-error-container-light: 255, 218, 214;
    --mdui-color-on-error-container-light: 65, 0, 2;
    --mdui-color-background-light: 252, 252, 255;
    --mdui-color-on-background-light: 26, 28, 30;
    --mdui-color-surface-light: 252, 252, 255;
    --mdui-color-on-surface-light: 26, 28, 30;
    --mdui-color-surface-variant-light: 222, 227, 235;
    --mdui-color-on-surface-variant-light: 66, 71, 78;
    --mdui-color-outline-light: 115, 119, 127;
    --mdui-color-outline-variant-light: 194, 199, 207;
    --mdui-color-shadow-light: 0, 0, 0;
    --mdui-color-scrim-light: 0, 0, 0;
    --mdui-color-inverse-surface-light: 47, 48, 51;
    --mdui-color-inverse-on-surface-light: 241, 240, 244;
    --mdui-color-inverse-primary-light: 154, 203, 255;
    --mdui-color-surface-dim-light: 218, 218, 221;
    --mdui-color-surface-bright-light: 249, 249, 252;
    --mdui-color-surface-container-lowest-light: 255, 255, 255;
    --mdui-color-surface-container-low-light: 244, 243, 247;
    --mdui-color-surface-container-light: 238, 237, 241;
    --mdui-color-surface-container-high-light: 232, 232, 235;
    --mdui-color-surface-container-highest-light: 226, 226, 229;
    --mdui-color-surface-tint-color-light: 0, 98, 158;
    --mdui-color-primary-dark: 154, 203, 255;
    --mdui-color-on-primary-dark: 0, 51, 85;
    --mdui-color-primary-container-dark: 0, 74, 121;
    --mdui-color-on-primary-container-dark: 207, 229, 255;
    --mdui-color-secondary-dark: 186, 200, 218;
    --mdui-color-on-secondary-dark: 36, 50, 64;
    --mdui-color-secondary-container-dark: 58, 72, 87;
    --mdui-color-on-secondary-container-dark: 214, 228, 247;
    --mdui-color-tertiary-dark: 212, 190, 229;
    --mdui-color-on-tertiary-dark: 57, 42, 73;
    --mdui-color-tertiary-container-dark: 81, 64, 96;
    --mdui-color-on-tertiary-container-dark: 240, 219, 255;
    --mdui-color-error-dark: 255, 180, 171;
    --mdui-color-on-error-dark: 105, 0, 5;
    --mdui-color-error-container-dark: 147, 0, 10;
    --mdui-color-on-error-container-dark: 255, 180, 171;
    --mdui-color-background-dark: 26, 28, 30;
    --mdui-color-on-background-dark: 226, 226, 229;
    --mdui-color-surface-dark: 26, 28, 30;
    --mdui-color-on-surface-dark: 226, 226, 229;
    --mdui-color-surface-variant-dark: 66, 71, 78;
    --mdui-color-on-surface-variant-dark: 194, 199, 207;
    --mdui-color-outline-dark: 140, 145, 153;
    --mdui-color-outline-variant-dark: 66, 71, 78;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-scrim-dark: 0, 0, 0;
    --mdui-color-inverse-surface-dark: 226, 226, 229;
    --mdui-color-inverse-on-surface-dark: 47, 48, 51;
    --mdui-color-inverse-primary-dark: 0, 98, 158;
    --mdui-color-surface-dim-dark: 18, 19, 22;
    --mdui-color-surface-bright-dark: 56, 57, 60;
    --mdui-color-surface-container-lowest-dark: 12, 14, 17;
    --mdui-color-surface-container-low-dark: 26, 28, 30;
    --mdui-color-surface-container-dark: 30, 32, 34;
    --mdui-color-surface-container-high-dark: 40, 42, 45;
    --mdui-color-surface-container-highest-dark: 51, 53, 56;
    --mdui-color-surface-tint-color-dark: 154, 203, 255;

}

.cyanTheme {
    --mdui-color-primary-light: 0, 104, 116;
    --mdui-color-on-primary-light: 255, 255, 255;
    --mdui-color-primary-container-light: 153, 240, 255;
    --mdui-color-on-primary-container-light: 0, 31, 36;
    --mdui-color-secondary-light: 74, 98, 103;
    --mdui-color-on-secondary-light: 255, 255, 255;
    --mdui-color-secondary-container-light: 205, 231, 236;
    --mdui-color-on-secondary-container-light: 5, 31, 35;
    --mdui-color-tertiary-light: 83, 94, 125;
    --mdui-color-on-tertiary-light: 255, 255, 255;
    --mdui-color-tertiary-container-light: 218, 226, 255;
    --mdui-color-on-tertiary-container-light: 15, 26, 55;
    --mdui-color-error-light: 186, 26, 26;
    --mdui-color-on-error-light: 255, 255, 255;
    --mdui-color-error-container-light: 255, 218, 214;
    --mdui-color-on-error-container-light: 65, 0, 2;
    --mdui-color-background-light: 251, 252, 253;
    --mdui-color-on-background-light: 25, 28, 29;
    --mdui-color-surface-light: 251, 252, 253;
    --mdui-color-on-surface-light: 25, 28, 29;
    --mdui-color-surface-variant-light: 219, 228, 230;
    --mdui-color-on-surface-variant-light: 63, 72, 74;
    --mdui-color-outline-light: 111, 121, 123;
    --mdui-color-outline-variant-light: 191, 200, 202;
    --mdui-color-shadow-light: 0, 0, 0;
    --mdui-color-scrim-light: 0, 0, 0;
    --mdui-color-inverse-surface-light: 46, 49, 50;
    --mdui-color-inverse-on-surface-light: 239, 241, 241;
    --mdui-color-inverse-primary-light: 80, 216, 236;
    --mdui-color-surface-dim-light: 216, 218, 219;
    --mdui-color-surface-bright-light: 248, 250, 250;
    --mdui-color-surface-container-lowest-light: 255, 255, 255;
    --mdui-color-surface-container-low-light: 242, 244, 244;
    --mdui-color-surface-container-light: 236, 238, 239;
    --mdui-color-surface-container-high-light: 230, 232, 233;
    --mdui-color-surface-container-highest-light: 225, 227, 227;
    --mdui-color-surface-tint-color-light: 0, 104, 116;
    --mdui-color-primary-dark: 80, 216, 236;
    --mdui-color-on-primary-dark: 0, 54, 61;
    --mdui-color-primary-container-dark: 0, 79, 88;
    --mdui-color-on-primary-container-dark: 153, 240, 255;
    --mdui-color-secondary-dark: 177, 203, 208;
    --mdui-color-on-secondary-dark: 28, 52, 56;
    --mdui-color-secondary-container-dark: 51, 75, 79;
    --mdui-color-on-secondary-container-dark: 205, 231, 236;
    --mdui-color-tertiary-dark: 187, 198, 234;
    --mdui-color-on-tertiary-dark: 36, 48, 77;
    --mdui-color-tertiary-container-dark: 59, 70, 101;
    --mdui-color-on-tertiary-container-dark: 218, 226, 255;
    --mdui-color-error-dark: 255, 180, 171;
    --mdui-color-on-error-dark: 105, 0, 5;
    --mdui-color-error-container-dark: 147, 0, 10;
    --mdui-color-on-error-container-dark: 255, 180, 171;
    --mdui-color-background-dark: 25, 28, 29;
    --mdui-color-on-background-dark: 225, 227, 227;
    --mdui-color-surface-dark: 25, 28, 29;
    --mdui-color-on-surface-dark: 225, 227, 227;
    --mdui-color-surface-variant-dark: 63, 72, 74;
    --mdui-color-on-surface-variant-dark: 191, 200, 202;
    --mdui-color-outline-dark: 137, 146, 148;
    --mdui-color-outline-variant-dark: 63, 72, 74;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-scrim-dark: 0, 0, 0;
    --mdui-color-inverse-surface-dark: 225, 227, 227;
    --mdui-color-inverse-on-surface-dark: 46, 49, 50;
    --mdui-color-inverse-primary-dark: 0, 104, 116;
    --mdui-color-surface-dim-dark: 16, 20, 21;
    --mdui-color-surface-bright-dark: 54, 58, 58;
    --mdui-color-surface-container-lowest-dark: 11, 15, 15;
    --mdui-color-surface-container-low-dark: 25, 28, 29;
    --mdui-color-surface-container-dark: 29, 32, 33;
    --mdui-color-surface-container-high-dark: 39, 43, 43;
    --mdui-color-surface-container-highest-dark: 50, 53, 54;
    --mdui-color-surface-tint-color-dark: 80, 216, 236;
}

.purpleTheme {
    --mdui-color-primary-light: 103, 80, 164;
    --mdui-color-primary-container-light: 234, 221, 255;
    --mdui-color-on-primary-light: 255, 255, 255;
    --mdui-color-on-primary-container-light: 33, 0, 94;
    --mdui-color-inverse-primary-light: 208, 188, 255;
    --mdui-color-secondary-light: 98, 91, 113;
    --mdui-color-secondary-container-light: 232, 222, 248;
    --mdui-color-on-secondary-light: 255, 255, 255;
    --mdui-color-on-secondary-container-light: 30, 25, 43;
    --mdui-color-tertiary-light: 125, 82, 96;
    --mdui-color-tertiary-container-light: 255, 216, 228;
    --mdui-color-on-tertiary-light: 255, 255, 255;
    --mdui-color-on-tertiary-container-light: 55, 11, 30;
    --mdui-color-surface-light: 254, 247, 255;
    --mdui-color-surface-dim-light: 222, 216, 225;
    --mdui-color-surface-bright-light: 254, 247, 255;
    --mdui-color-surface-container-lowest-light: 255, 255, 255;
    --mdui-color-surface-container-low-light: 247, 242, 250;
    --mdui-color-surface-container-light: 243, 237, 247;
    --mdui-color-surface-container-high-light: 236, 230, 240;
    --mdui-color-surface-container-highest-light: 230, 224, 233;
    --mdui-color-surface-variant-light: 231, 224, 236;
    --mdui-color-on-surface-light: 28, 27, 31;
    --mdui-color-on-surface-variant-light: 73, 69, 78;
    --mdui-color-inverse-surface-light: 49, 48, 51;
    --mdui-color-inverse-on-surface-light: 244, 239, 244;
    --mdui-color-background-light: 254, 247, 255;
    --mdui-color-on-background-light: 28, 27, 31;
    --mdui-color-error-light: 179, 38, 30;
    --mdui-color-error-container-light: 249, 222, 220;
    --mdui-color-on-error-light: 255, 255, 255;
    --mdui-color-on-error-container-light: 65, 14, 11;
    --mdui-color-outline-light: 121, 116, 126;
    --mdui-color-outline-variant-light: 196, 199, 197;
    --mdui-color-shadow-light: 0, 0, 0;
    --mdui-color-surface-tint-color-light: 103, 80, 164;
    --mdui-color-scrim-light: 0, 0, 0;
    --mdui-color-primary-dark: 208, 188, 255;
    --mdui-color-primary-container-dark: 79, 55, 139;
    --mdui-color-on-primary-dark: 55, 30, 115;
    --mdui-color-on-primary-container-dark: 234, 221, 255;
    --mdui-color-inverse-primary-dark: 103, 80, 164;
    --mdui-color-secondary-dark: 204, 194, 220;
    --mdui-color-secondary-container-dark: 74, 68, 88;
    --mdui-color-on-secondary-dark: 51, 45, 65;
    --mdui-color-on-secondary-container-dark: 232, 222, 248;
    --mdui-color-tertiary-dark: 239, 184, 200;
    --mdui-color-tertiary-container-dark: 99, 59, 72;
    --mdui-color-on-tertiary-dark: 73, 37, 50;
    --mdui-color-on-tertiary-container-dark: 255, 216, 228;
    --mdui-color-surface-dark: 20, 18, 24;
    --mdui-color-surface-dim-dark: 20, 18, 24;
    --mdui-color-surface-bright-dark: 59, 56, 62;
    --mdui-color-surface-container-lowest-dark: 15, 13, 19;
    --mdui-color-surface-container-low-dark: 29, 27, 32;
    --mdui-color-surface-container-dark: 33, 31, 38;
    --mdui-color-surface-container-high-dark: 43, 41, 48;
    --mdui-color-surface-container-highest-dark: 54, 52, 59;
    --mdui-color-surface-variant-dark: 73, 69, 79;
    --mdui-color-on-surface-dark: 230, 225, 229;
    --mdui-color-on-surface-variant-dark: 202, 196, 208;
    --mdui-color-inverse-surface-dark: 230, 225, 229;
    --mdui-color-inverse-on-surface-dark: 49, 48, 51;
    --mdui-color-background-dark: 20, 18, 24;
    --mdui-color-on-background-dark: 230, 225, 229;
    --mdui-color-error-dark: 242, 184, 181;
    --mdui-color-error-container-dark: 140, 29, 24;
    --mdui-color-on-error-dark: 96, 20, 16;
    --mdui-color-on-error-container-dark: 249, 222, 220;
    --mdui-color-outline-dark: 147, 143, 153;
    --mdui-color-outline-variant-dark: 68, 71, 70;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-surface-tint-color-dark: 208, 188, 255;
    --mdui-color-scrim-dark: 0, 0, 0;
}

.khakiTheme {
    --mdui-color-primary-light: 105, 95, 0;
    --mdui-color-on-primary-light: 255, 255, 255;
    --mdui-color-primary-container-light: 245, 229, 104;
    --mdui-color-on-primary-container-light: 32, 28, 0;
    --mdui-color-secondary-light: 100, 95, 65;
    --mdui-color-on-secondary-light: 255, 255, 255;
    --mdui-color-secondary-container-light: 235, 227, 189;
    --mdui-color-on-secondary-container-light: 31, 28, 5;
    --mdui-color-tertiary-light: 65, 102, 82;
    --mdui-color-on-tertiary-light: 255, 255, 255;
    --mdui-color-tertiary-container-light: 194, 236, 210;
    --mdui-color-on-tertiary-container-light: 0, 33, 19;
    --mdui-color-error-light: 186, 26, 26;
    --mdui-color-on-error-light: 255, 255, 255;
    --mdui-color-error-container-light: 255, 218, 214;
    --mdui-color-on-error-container-light: 65, 0, 2;
    --mdui-color-background-light: 255, 251, 255;
    --mdui-color-on-background-light: 29, 28, 22;
    --mdui-color-surface-light: 255, 251, 255;
    --mdui-color-on-surface-light: 29, 28, 22;
    --mdui-color-surface-variant-light: 232, 226, 208;
    --mdui-color-on-surface-variant-light: 74, 71, 58;
    --mdui-color-outline-light: 123, 119, 104;
    --mdui-color-outline-variant-light: 204, 198, 181;
    --mdui-color-shadow-light: 0, 0, 0;
    --mdui-color-scrim-light: 0, 0, 0;
    --mdui-color-inverse-surface-light: 50, 48, 42;
    --mdui-color-inverse-on-surface-light: 245, 240, 231;
    --mdui-color-inverse-primary-light: 216, 200, 79;
    --mdui-color-surface-dim-light: 222, 217, 209;
    --mdui-color-surface-bright-light: 254, 249, 240;
    --mdui-color-surface-container-lowest-light: 255, 255, 255;
    --mdui-color-surface-container-low-light: 248, 243, 234;
    --mdui-color-surface-container-light: 242, 237, 228;
    --mdui-color-surface-container-high-light: 236, 232, 223;
    --mdui-color-surface-container-highest-light: 231, 226, 217;
    --mdui-color-surface-tint-color-light: 105, 95, 0;
    --mdui-color-primary-dark: 216, 200, 79;
    --mdui-color-on-primary-dark: 55, 49, 0;
    --mdui-color-primary-container-dark: 79, 71, 0;
    --mdui-color-on-primary-container-dark: 245, 229, 104;
    --mdui-color-secondary-dark: 206, 199, 162;
    --mdui-color-on-secondary-dark: 53, 49, 23;
    --mdui-color-secondary-container-dark: 76, 71, 43;
    --mdui-color-on-secondary-container-dark: 235, 227, 189;
    --mdui-color-tertiary-dark: 167, 208, 183;
    --mdui-color-on-tertiary-dark: 17, 55, 38;
    --mdui-color-tertiary-container-dark: 41, 78, 59;
    --mdui-color-on-tertiary-container-dark: 194, 236, 210;
    --mdui-color-error-dark: 255, 180, 171;
    --mdui-color-on-error-dark: 105, 0, 5;
    --mdui-color-error-container-dark: 147, 0, 10;
    --mdui-color-on-error-container-dark: 255, 180, 171;
    --mdui-color-background-dark: 29, 28, 22;
    --mdui-color-on-background-dark: 231, 226, 217;
    --mdui-color-surface-dark: 29, 28, 22;
    --mdui-color-on-surface-dark: 231, 226, 217;
    --mdui-color-surface-variant-dark: 74, 71, 58;
    --mdui-color-on-surface-variant-dark: 204, 198, 181;
    --mdui-color-outline-dark: 149, 145, 129;
    --mdui-color-outline-variant-dark: 74, 71, 58;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-scrim-dark: 0, 0, 0;
    --mdui-color-inverse-surface-dark: 231, 226, 217;
    --mdui-color-inverse-on-surface-dark: 50, 48, 42;
    --mdui-color-inverse-primary-dark: 105, 95, 0;
    --mdui-color-surface-dim-dark: 20, 19, 14;
    --mdui-color-surface-bright-dark: 59, 57, 51;
    --mdui-color-surface-container-lowest-dark: 15, 14, 9;
    --mdui-color-surface-container-low-dark: 29, 28, 22;
    --mdui-color-surface-container-dark: 33, 32, 26;
    --mdui-color-surface-container-high-dark: 43, 42, 36;
    --mdui-color-surface-container-highest-dark: 54, 53, 47;
    --mdui-color-surface-tint-color-dark: 216, 200, 79;
}

.greenTheme {
    --mdui-color-primary-light: 0, 110, 28;
    --mdui-color-on-primary-light: 255, 255, 255;
    --mdui-color-primary-container-light: 153, 248, 148;
    --mdui-color-on-primary-container-light: 0, 34, 4;
    --mdui-color-secondary-light: 82, 99, 79;
    --mdui-color-on-secondary-light: 255, 255, 255;
    --mdui-color-secondary-container-light: 213, 232, 207;
    --mdui-color-on-secondary-container-light: 17, 31, 15;
    --mdui-color-tertiary-light: 56, 101, 106;
    --mdui-color-on-tertiary-light: 255, 255, 255;
    --mdui-color-tertiary-container-light: 188, 235, 240;
    --mdui-color-on-tertiary-container-light: 0, 32, 35;
    --mdui-color-error-light: 186, 26, 26;
    --mdui-color-on-error-light: 255, 255, 255;
    --mdui-color-error-container-light: 255, 218, 214;
    --mdui-color-on-error-container-light: 65, 0, 2;
    --mdui-color-background-light: 252, 253, 246;
    --mdui-color-on-background-light: 26, 28, 25;
    --mdui-color-surface-light: 252, 253, 246;
    --mdui-color-on-surface-light: 26, 28, 25;
    --mdui-color-surface-variant-light: 222, 229, 216;
    --mdui-color-on-surface-variant-light: 66, 73, 64;
    --mdui-color-outline-light: 114, 121, 111;
    --mdui-color-outline-variant-light: 194, 201, 189;
    --mdui-color-shadow-light: 0, 0, 0;
    --mdui-color-scrim-light: 0, 0, 0;
    --mdui-color-inverse-surface-light: 47, 49, 45;
    --mdui-color-inverse-on-surface-light: 240, 241, 235;
    --mdui-color-inverse-primary-light: 126, 219, 123;
    --mdui-color-surface-dim-light: 218, 218, 212;
    --mdui-color-surface-bright-light: 249, 250, 243;
    --mdui-color-surface-container-lowest-light: 255, 255, 255;
    --mdui-color-surface-container-low-light: 243, 244, 238;
    --mdui-color-surface-container-light: 238, 238, 232;
    --mdui-color-surface-container-high-light: 232, 233, 226;
    --mdui-color-surface-container-highest-light: 226, 227, 221;
    --mdui-color-surface-tint-color-light: 0, 110, 28;
    --mdui-color-primary-dark: 126, 219, 123;
    --mdui-color-on-primary-dark: 0, 57, 10;
    --mdui-color-primary-container-dark: 0, 83, 19;
    --mdui-color-on-primary-container-dark: 153, 248, 148;
    --mdui-color-secondary-dark: 186, 204, 179;
    --mdui-color-on-secondary-dark: 37, 52, 35;
    --mdui-color-secondary-container-dark: 59, 75, 56;
    --mdui-color-on-secondary-container-dark: 213, 232, 207;
    --mdui-color-tertiary-dark: 160, 207, 212;
    --mdui-color-on-tertiary-dark: 0, 54, 59;
    --mdui-color-tertiary-container-dark: 31, 77, 82;
    --mdui-color-on-tertiary-container-dark: 188, 235, 240;
    --mdui-color-error-dark: 255, 180, 171;
    --mdui-color-on-error-dark: 105, 0, 5;
    --mdui-color-error-container-dark: 147, 0, 10;
    --mdui-color-on-error-container-dark: 255, 180, 171;
    --mdui-color-background-dark: 26, 28, 25;
    --mdui-color-on-background-dark: 226, 227, 221;
    --mdui-color-surface-dark: 26, 28, 25;
    --mdui-color-on-surface-dark: 226, 227, 221;
    --mdui-color-surface-variant-dark: 66, 73, 64;
    --mdui-color-on-surface-variant-dark: 194, 201, 189;
    --mdui-color-outline-dark: 140, 147, 136;
    --mdui-color-outline-variant-dark: 66, 73, 64;
    --mdui-color-shadow-dark: 0, 0, 0;
    --mdui-color-scrim-dark: 0, 0, 0;
    --mdui-color-inverse-surface-dark: 226, 227, 221;
    --mdui-color-inverse-on-surface-dark: 47, 49, 45;
    --mdui-color-inverse-primary-dark: 0, 110, 28;
    --mdui-color-surface-dim-dark: 18, 20, 17;
    --mdui-color-surface-bright-dark: 56, 58, 54;
    --mdui-color-surface-container-lowest-dark: 12, 15, 12;
    --mdui-color-surface-container-low-dark: 26, 28, 25;
    --mdui-color-surface-container-dark: 30, 32, 29;
    --mdui-color-surface-container-high-dark: 40, 43, 39;
    --mdui-color-surface-container-highest-dark: 51, 53, 49;
    --mdui-color-surface-tint-color-dark: 126, 219, 123;
}