registry=https://mirrors.cloud.tencent.com/npm/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron-custom-dir=25.9.8