mdui-tabs::part(container) {
  margin-bottom: 0.5rem;
  background-color: unset;
}

mdui-segmented-button-group {
  mdui-segmented-button {
    width: 0.4rem;
    margin: 0 0.05rem;

    border-radius: var(--mdui-shape-corner-small);
    color: rgb(var(--mdui-color-primary));
    background-color: rgb(var(--mdui-color-secondary-container));
    border: none;

    transition: all 0.2s;
  }

  mdui-segmented-button.leftBtn {
    border-radius: var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small) var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large);
  }

  mdui-segmented-button.rightBtn {
    border-radius: var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small);
  }

  mdui-segmented-button[selected] {
    width: 1.6rem;
    border-radius: var(--mdui-shape-corner-extra-large);
    color: rgb(var(--mdui-color-surface));
    background-color: rgb(var(--mdui-color-primary));
  }
}


mdui-select,
mdui-text-field {
  line-height: 1.375rem;
  max-width: 14em;
}

mdui-snackbar {
  border-radius: var(--mdui-shape-corner-large) !important;

  margin-left: 2.4rem;
  margin-bottom: 0.7rem;
}

span[slot="description"] {
  color: rgb(var(--mdui-color-secondary));
  opacity: 0.8;
}