/*==========全局控件样式==========*/
mdui-list-subheader {
  margin-left: 1rem;

  font-size: medium;
  color: rgb(var(--mdui-color-secondary));
}

.label-container {
  height: 50px;
}

.label {
  font-size: 50px;
}

mdui-select {
  max-width: 16em;
  /*FlyGues2889:默认这些是给settings页面用的，防止框过长遮挡*/
  line-height: 1.375rem;
  /*FlyGues2889:修一下mdui的bug，select的选择菜单行高会遮挡文字*/
}

html,
body {
  width: 100vw;
  height: 100vh;

  user-select: none;
  background-color: rgb(var(--mdui-color-surface-container)) !important;
}

body {
  /* 壁纸 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}


:root {
  --scrollbar-width: 0.4rem;
  --scrollbar-color: rgb(var(--mdui-color-primary), 0.15);
  --scrollbar-edge-padding: 1.1rem;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,
      transparent 0,
      transparent var(--scrollbar-edge-padding),
      var(--scrollbar-color) var(--scrollbar-edge-padding),
      var(--scrollbar-color) calc(100% - var(--scrollbar-edge-padding)),
      transparent calc(100% - var(--scrollbar-edge-padding)),
      transparent 100%);
  border-radius: 1rem;
  background-clip: content-box;
  border: 0.1rem solid transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(to right,
      transparent 0,
      transparent var(--scrollbar-edge-padding),
      var(--scrollbar-color) var(--scrollbar-edge-padding),
      var(--scrollbar-color) calc(100% - var(--scrollbar-edge-padding)),
      transparent calc(100% - var(--scrollbar-edge-padding)),
      transparent 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,
      transparent 0,
      transparent var(--scrollbar-edge-padding),
      rgb(var(--mdui-color-primary), 0.3) var(--scrollbar-edge-padding),
      rgb(var(--mdui-color-primary), 0.3) calc(100% - var(--scrollbar-edge-padding)),
      transparent calc(100% - var(--scrollbar-edge-padding)),
      transparent 100%);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: linear-gradient(to right,
      transparent 0,
      transparent var(--scrollbar-edge-padding),
      rgb(var(--mdui-color-primary), 0.3) var(--scrollbar-edge-padding),
      rgb(var(--mdui-color-primary), 0.3) calc(100% - var(--scrollbar-edge-padding)),
      transparent calc(100% - var(--scrollbar-edge-padding)),
      transparent 100%);
}

mdui-tabs::part(container) {
  margin-bottom: 0.5rem;
  background-color: unset;
}

span[slot="description"] {
  opacity: 0.8;
  color: rgb(var(--mdui-color-secondary));
  font-size: small;
}

h1 {
  user-select: none;
  font-weight: bold;
}

mdui-snackbar {
  margin-bottom: 1.6rem;
  border-radius: var(--mdui-shape-corner-medium);
}

mdui-badge.beta-badge {
  background-color: rgb(var(--mdui-color-primary));
  color: rgb(var(--mdui-color-surface));
  font-family: 'Manrope';
}

mdui-segmented-button {
  margin: 1px;

  span {
    transform: scale(0.7);
  }
}




/*==========多页面设置==========*/
div#settingPage {

  mdui-select,
  mdui-text-field {
    line-height: 1.375rem;
    max-width: 16em;
  }
}

div.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 0 1rem 1rem 5rem;
  /* 恢复原有的 margin 设置 */
  background-color: rgb(var(--mdui-color-surface), 0.8);
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  position: relative;

  visibility: hidden;

  margin-top: calc(4rem - 10px);
  /* 初始状态下略微上移，保持 margin 整体效果 */

  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.3s;
}


div.page.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  margin-top: 4rem;
  /* 活动状态下恢复原始 margin-top */

  transition-delay: 0s;
}

div.page-container {
  margin: 1rem 4rem;
}

#mainPage {
  /* background-image: url(../assets/image.webp); */
  background-size: cover;
  /* 背景铺满整个窗口 */
  background-repeat: no-repeat;
  /* 不重复平铺 */
  background-position: center;
  /* 居中显示 */
  background-attachment: fixed;
  /* 固定背景，滚动时不动 */
}

/* 主页 */

div#out {
  color: rgb(var(--mdui-color-secondary-dark));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: 'Manrope';

  /* text-shadow: 0 0 24px rgb(var(--mdui-color-surface-container), 0.6); */

  border-radius: 2rem;

  mdui-button#mainTip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

    user-select: none;
    cursor: default;
  }

}

div.dragBar {
  width: 3.25rem;
  height: 4rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.2rem;
  z-index: 900;

  position: fixed;
  right: 2rem;
  bottom: 2rem;

  border-radius: 1.5rem;
  color: rgb(var(--mdui-color-outline), 0.7);
  background-color: rgb(var(--mdui-color-surface-container));

  .dragArea {
    margin: 0;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(var(--mdui-color-surface), 0.8);
    border-radius: 1.5rem 1.5rem 0 0;

    cursor: move;
  }

  .controlArea {
    mdui-fab {
      background-color: rgb(var(--mdui-color-primary));
      color: rgb(var(--mdui-color-surface-container));
    }
  }
}


/* 记录页 */

mdui-chip {
  box-shadow: none;
  background-color: unset;
}

div#exclude-list,
div#history-list {
  font-size: small;
}

/* 设置页 */

mdui-card.container {
  margin: 0rem;
  margin-left: 0;
  padding: 1rem;

  width: 100%;
  border-radius: 2rem;
  background-color: rgb(var(--mdui-color-secondary-container), 0.3);
}


.tips-content {
  padding: 0.2rem;
}



/*==========窗口元素设置==========*/
mdui-top-app-bar {
  /* height: 3rem; */
  align-items: center;
  background-color: unset;
  color: rgb(var(--mdui-color-primary));


  mdui-top-app-bar-title {
    /* opacity: 0.8; */
    margin-left: 1rem;
    display: flex;
    align-items: center;

    font-family: 'Manrope';
    font-size: 1.25rem;
    color: rgb(var(--mdui-color-primary));

    -webkit-app-region: drag;
    user-select: none;
  }

  mdui-button-icon {
    margin: 0;
    transform: scale(0.9);
    color: rgb(var(--mdui-color-primary));
  }
}

mdui-navigation-rail {
  margin: 1rem 0;
  z-index: 990;

  background-color: unset;

  div[slot="bottom"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

div#blur-layer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;

  background-color: rgb(var(--mdui-color-surface), 0.5);
}